html{
    font-size: 10px;
    height: 100%;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: 100% 400%;
}
.navigation{
    display: flex;
    width: 100%;
    height: 128px;
    background-color: #3d2e87;
    position: sticky;
}
.nav-link{
    background-color: rgba(0, 0, 0, 0);
    margin: 0px 10px 0px 10px;
    font-size: 1em;
    text-decoration: none;
    border: 0px;
}
.nav-link:link{
    color: rgb(184, 181, 229);
}
.nav-link:visited {
    color: rgb(161, 158, 199);
}
.nav-link:active {
    color: rgb(247, 164, 255);
}
.nav-logo{
    background-image: url("logo.png");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    float: left;
}
.nav-layout{
    display: flex;
    justify-content: flex-end;
}
.download-button{
    width: 96px;
    height: 24px;
    border: 0px;
    border-radius: 20px;
    background-color: rgb(103, 39, 173);
    color: white;
    box-shadow: 0px 18px 20px rgba(0, 0, 0, 0.2);
}
.download-button:active{
    background-color: rgb(141, 54, 233);
}
.hero{
    display: flex;
    justify-content: space-between;
}
p{
    color: #fff;
}
.hero-text{
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 50px;
    flex-direction: column;
}
.hero-title{
    text-align: center;
    font-size: 14px;
}
.hero-desc{
    text-align: center;
    color: #fff;
    opacity: 0.5;
}
.hero-image{
    margin-right: 20px ;
}
.feature{
    display: flex;
    line-height: 30px;
    width: 100%;
    height: 200px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.card-1,
.card-2,
.card-3,
.review-card-1{
    background-color: white;
    margin: 10px;
    padding: 24px;
    width: 256px;
    height: 128px;
    border-radius: 10px;
    box-shadow: 0px 5px 50px rgba(60, 87, 117, 0.5);
}
.card-2{
    height: 156px;
    box-shadow: 0px 5px 100px rgba(140, 86, 184, 0.5);
    position: relative;
    z-index: 2;
}
.card-title,
.card-title-top{
    color: #3d2e87;
}
.card-title-top{
    color: #7738b1;
}
.card-desc,
.card-desc-top{
    color: rgb(115, 107, 163);
    font-size: 12px;
}
.card-desc-top{
    font-size: 14px;
}
.card-link{
    color: #7738b1;
    font-size: 14px;
    text-decoration: none;
}
.details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    grid-gap: 10px;
    line-height: 25px;
    margin-top: 200px;
    height: 1200px;
}
.modern-image{
    position: relative;
    z-index: -1;
    left: 40px;
}
.image-phone-1{
    position: relative;
    bottom: 150px;
}
.reviews-intro{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 100%;
    height: 100px;
}
.review-title{
    color: #7738b1;
    line-height: 20px;
    font-size: 16px
}
.review-arrows{
    color: #7738b1;
    flex-direction: row-reverse;
    margin-right: 50px;
    font-size: 24px;
}
.footer-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(#3d2e88,#832dd5);
    border-radius: 15px;
    width: 100%;
    height: 150px;
    padding: 20px;
}
.footer-label{
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}
.footer-desc{
    text-align: center;
    font-size: 14px;
    opacity: 0.5;
}
.download-button-2{
    width: 96px;
    height: 24px;
    border: 0px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: rgb(230, 221, 242);
    color: #832dd5;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.2);
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    padding: 50px;
}
.download-type{
    display: flex;
    flex-direction: column;
}
.download-buttons{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.download-button-3{
    width: 96px;
    height: 24px;
    border: 0px;
    margin: 20px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}
.copyright-text{
    color:#577493;
}
.links{
    justify-content: flex-end;
    font-size: 14px;
}
.links table{
    border-spacing: 15px;
    justify-content: center;
}
.links thead{
    color: #832dd5;
}
.lang{
    color: #832dd5;
}
.links tbody{
    color: #577493;
    
}
.links th, td{
    text-align: left;
    
}
